@model ProjectHub.Models.ProjectModel

@{
    ViewBag.Title = Model.Name;
}

<h2>@ViewBag.Title</h2>

<hr />
<h3>Topics</h3>

@if (Model.Topics != null)
{
    foreach (var topics in Model.Topics)
    {
        <p>@Html.ActionLink("#"+ topics.Name, "Details", "Topic", new { id = topics.Id })</p>
    }
}


<hr />
<h3>Posts</h3>

@if(Model.Posts != null)
{
    @Html.DisplayFor(m => m.Posts)
}

<div style="padding-top:15px;">
    @Html.ActionLink("Back to List", "Index")
</div>



