@model List<ProjectHub.Models.ProjectModel>

@{
    ViewBag.Title = "Projectlist";
}

<h2>@ViewBag.Title</h2>

@foreach(var project in Model)
{
    
    <p>@project.Name [@project.Id] @Html.ActionLink("Details", "Details", new { id = project.Id })</p>
    
    <hr />
}
