
@model ProjectHub.Models.PostModel

@{
    ViewBag.Title = "Create a new post";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Post", "Create", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{

}

