
@model List<ProjectHub.Models.PostModel>

@{
    ViewBag.Title = "Liste over poster";
}

<h2>@ViewBag.Title.</h2>

@foreach (var post in Model)
{
    <div>
        <h3>@post.Heading</h3>
        <p>@post.PostText</p>
    </div>
}